@charset "utf-8";

/* general tags */
body {
	background-color: #282a36;
	color: #f1f8f2;
	margin: 20px;
}

header, footer, #skills figure {
	background-color: #21222c;
}

ul {
	list-style: none;
	padding: 0;
}

li, h3, h4, input, textarea {
	font-family: "Space Mono", Consolas, "Andale Mono", "Lucida Console", "Lucida Sans Typewriter", Monaco, "Courier New", "monospace";
}

h1 {
	font-family: Lobster, Baskerville, "Palatino Linotype", Palatino, "Century Schoolbook L", "Times New Roman", "serif";
	font-size: calc(15px + 6vw);
}

h1, h6 {
	font-weight: normal;
}

h4 {
	font-variant-ligatures: none;
	margin: 0;
	padding-top: 5vw;
}

p, figcaption, h6 {
	padding: 5px 0;
	font-family: Montserrat, Gotham, "Helvetica Neue", Helvetica, Arial, "sans-serif";
}

figcaption {
	font-size: calc(10px + 0.2vw);
	text-align: center;
}

form {
	display: flex;
	flex-direction: column;
}

article img {
	width: 100%;
	height: auto;
}

/* navigation box (top) */
nav {
	display: flex;
	justify-content: flex-start;
}

nav ul {
	list-style: none;
	padding-left: 20px;
}

nav li {
	margin-bottom: calc(5px + 0.5vw);
}

nav a {
	text-decoration: none;
	color: #ff79bd;
}

/* footer (bottom) */
h6 {
	padding: 10px 0 0 0;
	text-align: center;
}

footer figure {
	display: flex;
	justify-content: center;
}

footer img {
	max-width: 30px;
	max-height: 30px;
	width: auto;
	height: auto;
	padding: 0 5px;
}

/* index.html specific */
#skills figure {
	display: flex;
	flex-direction: row;
	justify-content: center;
	margin: 0 5px 0 0;
	
}

#skills figure figure {
	display: flex;
	align-items: center;
	text-align: center;
	padding: 10px 5px;
	flex-direction: column;
	
}

#skills img {
	max-width: 50px;
	max-height: 50px;
	width: auto;
	height: auto;
}

#intro {
	font-size: calc(10px + 0.5vw);
}

/* projects.html specific */
#projects div {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	margin: -10px;
}

#projects img {
	display: flex;
	flex-direction: column;
	max-width: 100%;
	height: auto;
}

#projects figcaption {
	margin-bottom: 40px;
}

/* these classes are used to color text something other than white */
.pink {
	color: #ff79bd;
}

.purple {
	color: #bd93f9;
}

.yellow {
	color: #f1fa8c;
}

.green {
	color: #50fa7b;
}

.blue {
	color: #62728b;
}

.orange {
	color: #ffb86c;
}