@charset "utf-8";

/* general tags */
body {
	background-color: #282a36;
	color: #f1f8f2;
	margin: 20px;
}

header, footer, #skills figure {
	background-color: #21222c;
}

ul {
	list-style: none;
	padding: 0;
}

li, h3, h4, input, textarea {
	font-family: "Space Mono", Consolas, "Andale Mono", "Lucida Console", "Lucida Sans Typewriter", Monaco, "Courier New", "monospace";
}

h1 {
	font-family: Lobster, Baskerville, "Palatino Linotype", Palatino, "Century Schoolbook L", "Times New Roman", "serif";
	font-size: calc(15px + 6vw);
}

h1, h6 {
	font-weight: normal;
}

h4 {
	font-variant-ligatures: none;
	margin: 0;
	padding-top: 5vw;
}

p, figcaption, h6, button {
	padding: 5px 0;
	font-family: Montserrat, Gotham, "Helvetica Neue", Helvetica, Arial, "sans-serif";
}

figcaption {
	font-size: calc(10px + 0.2vw);
	text-align: center;
}

form {
	display: flex;
	flex-direction: column;
}

article img {
	width: 100%;
	height: auto;
}

/* navigation box (top) */
nav {
	display: flex;
	justify-content: flex-start;
}

nav ul {
	list-style: none;
	padding-left: 20px;
}

nav li {
	margin-bottom: calc(5px + 0.5vw);
}

nav a {
	text-decoration: none;
	color: #ff79bd;
}

/* footer (bottom) */
h6 {
	padding: 10px 0 0 0;
	text-align: center;
}

footer figure {
	display: flex;
	justify-content: center;
}

footer img {
	max-width: 30px;
	max-height: 30px;
	width: auto;
	height: auto;
	padding: 0 5px;
}

/* index.html specific */
#skills figure {
	display: flex;
	flex-direction: row;
	justify-content: center;
	margin: 0 5px 0 0;
}

#skills figure figure {
	display: flex;
	align-items: center;
	text-align: center;
	padding: 10px 5px;
	flex-direction: column;
	
}

#skills img {
	max-width: 50px;
	max-height: 50px;
	width: auto;
	height: auto;
}

#intro {
	font-size: calc(10px + 0.5vw);
}

/* projects.html specific */
#projects div {
	margin: -10px;
}

#projects div div figure h4 {
	text-align: center;
}

#projects img {
	max-width: 100%;
	height: auto;
}

#projects figcaption {
	margin-bottom: 40px;
}

/* these classes are used to color text something other than white */
.pink {
	color: #ff79bd;
}

.purple {
	color: #bd93f9;
}

.yellow {
	color: #f1fa8c;
}

.green {
	color: #50fa7b;
}

.blue {
	color: #62728b;
}

.orange {
	color: #ffb86c;
}

/* larger screens get special treatment */
@media all and (min-width: 1000px) {
	body {
		margin: 20px 10vw;
	}
	
	h1 {
		font-size: calc(15px + 4vw);
	}
	
	main {
		display: flex;
		justify-content: space-between;
		align-items: center;
	}
	
	/* index.html */
	#skills figure {
		margin: 0 10px;
	}
	
	/* about.html */	
	#about {
		display: flex;
		justify-content: space-between;
	}
	
	#about img {
		width: 50%;
		height: 50%;
		margin-right: 50px;
	}
	
	/* projects.html */
	#projects div {
		display: flex;
		justify-content: space-between;
		flex-direction: row;
	}
	
	/* nav-related */
	nav {
		justify-content: center;
		flex-direction: row;
	}
	
	nav ul {
		display: flex;
		flex: 1;
		justify-content: space-between;
		margin: 10px 25px;
	}
	
	nav ul li a:hover {
		text-decoration: underline;
	}
	
	nav ul li a:active {
		color: #bd93f9;
	}
}